body{
    background:  url("23-2147847682.jpg") center / cover no-repeat fixed;
    /*opacity: 0.8;*/
    font-family: cursive;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
}
.wrapper{
    background-color: rgba(255, 202, 158, 0.61);
    font-family: cursive;
    font-size: 20px;
    padding: 10px 25px;
}
.wrapper > .top{
    display: block;
    text-align: center;
    color: blueviolet;
    font-size: 40px;
    padding: 10px;
}
.wrapper > .top:hover{
    border: 3px double green;

}


 p{
    font-size: 30px;
    text-align: center;
    border: 3px double green;
}

a{
    color: #952626;
    text-decoration: none;
}
a:hover{
    text-shadow: 1px 1px 2px white, -1px -1px 2px green;
}